@font-face {
    font-family: 'BerlinSansFB-Reg';
    src: url('/css/font/BerlinSansFBRegular.eot');
    src:  url('/css/font/BerlinSansFBRegular.ttf') format('truetype'), url('/css/font/BerlinSansFBRegular.svg#BerlinSansFBRegular') format('svg');
    // src: url('https://2021.igem.org/wiki/images/4/44/T--TJUSLS_China--BerlinSansFBRegular.eot');
    // src: url('https://2021.igem.org/wiki/images/0/0d/T--TJUSLS_China--BerlinSansFBRegular.ttf') format('truetype'), url('https://2021.igem.org/wiki/images/a/aa/T--TJUSLS_CHINA--BerlinSansFBRegular.svg#BerlinSansFBRegular') format('svg');
}

@font-face {
    font-family: 'zcool';
    src: url('/css/font/zcool-gdh.eot');
    src:  url('/css/font/zcool-gdh.ttf') format('truetype'), url('/css/font/zcool-gdh.svg#zcool-gdh') format('svg');
    // src: url('https://2021.igem.org/wiki/images/0/0c/T--TJUSLS_China--zcool-gdh.eot');
    // src: url('https://2021.igem.org/wiki/images/f/f3/T--TJUSLS_China--zcool-gdh.ttf') format('truetype'), url('https://2021.igem.org/wiki/images/b/b6/T--TJUSLS_China--zcool-gdh.svg#zcool-gdh') format('svg');
}

// @font-face {
//     font-family: 'Ubuntu-B';
//     // src: url('/css/font/Ubuntu-B.eot');
//     // src:  url('/css/font/Ubuntu-B.ttf') format('truetype'), url('/css/font/Ubuntu-B.svg#Ubuntu-B') format('svg');
    // src: url('https://2021.igem.org/wiki/images/b/b9/T--TJUSLS_China--Ubuntu-B.eot');
    // src: url('https://2021.igem.org/wiki/images/0/05/T--TJUSLS_China--Ubuntu-B.ttf') format('truetype'), url('https://2021.igem.org/wiki/images/5/5e/T--TJUSLS_China--Ubuntu-B.svg#Ubuntu-B') format('svg');
// }